<!DOCTYPE html>
<html>
<title>Stm commander</title>
<head> 
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <style>
        img {
            max-width: 100%;
        }
    </style>
<script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script type="text/javascript" src="../static/stm32settings.js"></script>
<link rel="stylesheet" href="../static/stm32settings.css">
</head>
<body>

    <div class="page-heading">
        <div class="heading-text">
            <h1>STM commands</h1>
        </div>
        <div class="server-time">
        <h3 id="server-time" class="time">server time</h3>
        </div>
    </div>
    <div class="settings">
        <div class="input-class"> 
            <h3>Measurment interval:</h3>
            <input type="text" class="float-right"> 
            <button class="float-right">Submit</button> 
        </div>  
        
        <div class="input-class"> 
            <h3>Temperature calibration:</h3>
            <input type="text" class="float-right"> 
            <button class="float-right">Submit</button> 
        </div>  

        
        <div class="input-class"> 
            <h3>Humidity calibration:</h3>
            <input type="text" class="float-right"> 
            <button class="float-right">Submit</button> 
        </div>  
    </div>

</body>
</html>